{% extends "base.html" %}
{% block title %}404 | OpenAndroidInstaller{% endblock %}
{% block robot %}
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
{% endblock %}
{% block content %}
<!-- Header -->
<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">Error 404</h1>
      <p class="subtitle is-4">Oops! - The requested page does not exist or was not found.</p>
    </div>
  </div>
</section>
<!-- Header End -->

<section class="section">
    <div class="container is-max-desktop">
      <!-- Content -->
      <div class="content">
      <!-- Content End -->
    </div>
  </section>

<!-- Contribution Banner -->
<section class="section has-background-primary">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-5-desktop mb-4">
        <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">You think something is wrong?
        </h2>
      </div>
      <div class="column is-5 ml-auto">
        <div class="mx-auto box p-6 has-background-light has-text-centered">
          <a class="button is-link is-fullwidth hover-transition" id="contribute-button"
            href="mailto:hello@openandroidinstaller.org">Write an e-mail</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contribution Banner End -->
{% endblock %}