<!DOCTYPE html>
<html lang="en">

<head>
  <!-- META -->
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Tobias Sterbak">
  <meta name="description" content="Makes installing alternative Android distributions like LineageOS nice and easy.">
  <meta name="referrer" content="unsafe-url">
  {% block robot %}{% endblock %}
  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:description"
    content="Makes installing alternative Android distributions like LineageOS nice and easy. Download now!">
  <meta property="og:image" content="static/preview-header.png">
  <meta property="og:image:width" content="700">
  <meta property="og:image:height" content="280">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ self.title() }}">
  <meta name="twitter:creator" content="@oainstaller">
  <meta name="twitter:description"
    content="Makes installing alternative Android distributions like LineageOS nice and easy. Download now!">
  <meta name="twitter:image" content="static/preview-header.png">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/custom.css">
  <link rel="icon" href="static/favicon.ico">
  <meta name="msvalidate.01" content="BADB1605403452D1F9CB0E93E71BCEA6">
  <script defer data-domain="openandroidinstaller.org"
    data-api="https://morning-mud-8440.openandroidinstaller.workers.dev/main/event"
    src="https://morning-mud-8440.openandroidinstaller.workers.dev/main/script.outbound-links.file-downloads.js"></script>
  <script>window.plausible = window.plausible || function () { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
</head>

<body>
  <div>
    <div class="columns is-multiline">
    </div>
    <!-- NAV -->
    <nav class="navbar py-4">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://openandroidinstaller.org">
            <img class="image" src="static/oai-logo.jpg" alt="OpenAndroidInstaller Logo" width="30" height="30">
          </a>
          <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <a class="navbar-item" href="https://openandroidinstaller.org#getting-started">
              <span class="icon"><i class="fa fa-play"></i></span><span>Getting started</span>
            </a>
            <a class="navbar-item" href="https://openandroidinstaller.org/supported-devices.html">
              <span class="icon"><i class="fa fa-mobile"></i></span><span>Supported Devices</span>
            </a>
            <a class="navbar-item" href="https://openandroidinstaller.org/faq.html">
              <span class="icon"><i class="fa fa-question"></i></span><span>FAQ</span>
            </a>
            <a class="navbar-item" href="https://github.com/openandroidinstaller-dev/openandroidinstaller"
              target="_blank">
              <span class="icon"><i class="fab fa-github"></i></span><span>Github</span>
            </a>
            <a class="navbar-item" href="mailto:hello@openandroidinstaller.org">
              <span class="icon"><i class="fa fa-envelope"></i></span><span>Get Help</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- NAV END -->

    <!-- Main -->
    {% block content %}
    {% endblock %}
    <!-- Main END -->

    <!-- Footer -->
    <footer class="section">
      <div class="container">
        <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
          <div class="mr-auto mb-2">
            <div class="is-inline-block">
              <a href="https://openandroidinstaller.org">
                <img class="image is-96x96" src="static/oai-logo.jpg" alt="OpenAndroidInstaller Logo">
              </a>
            </div>
            <div class="is-inline-block" style="width: 333px;">
              <figure class="image">
                <img src="static/pf_funding_logos.svg" alt="BMBF logo">
              </figure>
            </div>
          </div>
          <div>
            <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
              <li class="mr-4"><a class="button is-white"
                  href="https://github.com/openandroidinstaller-dev/openandroidinstaller#acknowledgements"
                  target="_blank">Funding</a></li>
              <li class="mr-4"><a class="button is-white"
                  href="https://github.com/openandroidinstaller-dev/openandroidinstaller/blob/main/LICENSE"
                  target="_blank">License</a></li>
              <li class="mr-4"><a class="button is-white" href="https://openandroidinstaller.org/imprint.html">Impressum</a></li>
              <li class="mr-4"><a class="button is-white" href="https://openandroidinstaller.org/privacy.html">Privacy Statement</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
      <div class="container">
        <div class="is-flex-tablet is-justify-content-between is-align-items-center">
          <p>All rights reserved © OpenAndroidInstaller 2022-2023</p>
          <div class="py-2 is-hidden-tablet"></div>
          <div class="ml-auto">
            <a class="mr-4 is-inline-block" href="https://github.com/openandroidinstaller-dev/openandroidinstaller"
              target="_blank">
              <span class="icon"><i class="fab fa-github"></i></span><span>Github</span>
            </a>
            <a class="mr-4 is-inline-block" href="https://twitter.com/OAInstaller" target="_blank">
              <span class="icon"><i class="fab fa-twitter"></i></span><span>Twitter</span>
            </a>
            <a rel="me" class="mr-4 is-inline-block" href="https://fosstodon.org/@openandroidinstaller" target="_blank">
              <span class="icon"><i class="fab fa-mastodon"></i></span><span>Mastodon</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->
  </div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  crossorigin="anonymous">
<!-- Script to determine the users OS and deliver the correct download link.-->
<script>
  var downloadLink1 = document.getElementById('download-link1');
  var downloadLink2 = document.getElementById('download-link2');
  var os = "ubuntu"
  if (navigator.appVersion.indexOf("Win") != -1) os = "windows";
  if (navigator.appVersion.indexOf("Mac") != -1) os = "macos";
  if (navigator.appVersion.indexOf("X11") != -1) os = "ubuntu";
  if (navigator.appVersion.indexOf("Linux") != -1) os = "ubuntu";
  var url = `https://github.com/openandroidinstaller-dev/openandroidinstaller/releases/download/{{ version }}/openandroidinstaller-{{ version }}-${os}-latest.zip`
  downloadLink1.setAttribute('href', url);
  downloadLink2.setAttribute('href', url);
</script>
<!-- Track button clicks-->
<script>
  document.getElementById('download-link1').addEventListener("click", function () { plausible('download-header'); });
  document.getElementById('download-link2').addEventListener("click", function () { plausible('download-banner'); });
  document.getElementById('demo-video').addEventListener("click", function () { plausible('demo-video-started'); });
  document.getElementById('contribute-button').addEventListener("click", function () { plausible('contribute-button'); });
  document.getElementById('getting-started-button').addEventListener("click", function () { plausible('getting-started'); });
</script>
<!--Automatically close all the other <details> tags after opening a specific <details> tag-->
<script>
  // Fetch all the details element.
  const details = document.querySelectorAll("details");

  // Add the onclick listeners.
  details.forEach((targetDetail) => {
    targetDetail.addEventListener("click", () => {
      // Close all the details that are not targetDetail.
      details.forEach((detail) => {
        if (detail !== targetDetail) {
          detail.removeAttribute("open");
        }
      });
    });
  });
</script>

</html>