{% extends "base.html" %}
{% block title %}Frequently Asked Questions | OpenAndroidInstaller{% endblock %}
{% block robot %}
<meta name="robots" content="index, follow">{% endblock %}
{% block content %}
<!-- Header -->
<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">Frequently Asked Questions</h1>
    </div>
  </div>
</section>
<!-- Header End -->

<!-- FAQ -->
<section class="section">
  <div class="container is-max-desktop">
    <!-- TOC -->
    <div class="box px-6">
      <ul>
        <li><a href="#what-android-roms-are-supported">Which Android ROMs are supported?</a></li>
        <li><a href="#my-device-is-not-supported">My devices is not supported. What can I do?</a></li>
        <li><a href="#backup">Will the installer do a backup of my files and data?</a></li>
        <li><a href="#which-addons">What are addons and which ones are supported?</a></li>
        <li><a href="#can-i-use-gapps">How can I use Google Apps for my devices?</a></li>
        <li><a href="#somethings-wrong">What to do if something goes wrong?</a></li>
        <li><a href="#unlock-bootloader">Will this tool unlock my bootloader?</a></li>
        <li><a href="#is-it-virus">Virus scanners show the tool as a virus or trojan. What is going on?</a></li>
        <li><a href="#fastboot-hangs">When flashing the custom recovery, the applications hangs and the advanced output
            shows "waiting-for-device". What can I do?</a></li>
        <li><a href="#find-logs">Where do I find the logfiles?</a></li>
        <li><a href="#dll-missing">I get the error message "msvcp110.dll missing".</a></li>
        <li><a href="#data-collection">Collection of anonymous usage data</a></li>
      </ul>
    </div>
    <!-- TOC End -->
    <!-- Content -->
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="what-android-roms-are-supported" class="title is-3">What Android ROMs are supported?</h3>
      <div class="content">
        <p>
          Most of the devices are tested with LineageOS (official and some unofficial releases) as well as LineageOS
          for MicroG or PixelExperience when available.
          But you can use the OpenAndroidInstaller to install all kinds of custom Android ROMs.
        </p>
        <h4>A selection of different Android-based ROMs and where to find them:</h4>
        <ul>
          <li><a href="https://wiki.lineageos.org/devices" rel="noopener" target="_blank">LineageOS</a></li>
          <li><a href="https://doc.e.foundation/devices" rel="noopener" target="_blank">/e/OS</a></li>
          <li><a href="https://download.lineage.microg.org" rel="noopener" target="_blank">LineageOS for microG</a>
          </li>
          <li><a href="https://blissroms.org" rel="noopener" target="_blank">BlissRoms</a></li>
          <li><a href="https://download.pixelexperience.org" rel="noopener" target="_blank">PixelExperience with
              built-in
              GApps</a></li>
          <li>or you can just search the web or the <a href="https://xdaforums.com" rel="noopener"
              target="_blank">xdaforums</a> for an appropriate version for your device.</li>
        </ul>
      </div>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="my-device-is-not-supported" class="title is-3">My device is not supported. What can I do?</h3>
      <div class="content">
        <p>
          If your device is currently not supported, you have basically two options.
        </p>
        <h4>Contribute support for your device:</h4>
        <p>If you have some experience with flashing Android ROMs, you can find more details on how to contribute
          here: <a class="is-link" href="index.html/#contribute" rel="noopener" target="_blank">How to contribute?</a>
        </p>
        <h4>Ask for support:</h4>
        <p>You can also open a github issue and ask for support for your device. There might be reasons, that your
          device is not supported and likely will not get support.</p>
      </div>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="backup" class="title is-3">Will the installer do a backup of my files and data?</h3>
      <div class="content">
        <p><b>No.</b> Everything on the device will be deleted. Make your own backup manually.</p>
        <p><b>Don't rely on automatic backup solutions,</b> especially vendor ones since they will most likely not work
          afterwards.</p>
      </div>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="which-addons" class="title is-3">What are addons and which ones are supported?</h3>
      <p>Addons are optional, additional apps and services that are useful to have. Most notable Google Apps and
        Services as well as MicroG to replace them or the F-Droid FOSS App-Store.</p>
      <p>There are different packages of <em>Google Apps</em> available.</p>
      <ul>
        <li><a href="https://wiki.lineageos.org/gapps#downloads" rel="noopener" target="_blank">MindTheGapps</a></li>
        <li><a href="https://nikgapps.com" rel="noopener" target="_blank">NikGApps</a></li>
      </ul>
      <p>You can find out more about MicroG here: <a href="https://microg.org" rel="noopener"
          target="_blank">MicroG</a>.
        The recommended way to install MicroG is to use the zip file provided here: <a
          href="https://github.com/FriendlyNeighborhoodShane/MinMicroG-abuse-CI/releases" rel="noopener"
          target="_blank">FriendlyNeighborhoodShane/MinMicroG-abuse-CI</a>.
        The best way to get an installable zip for F-Droid can be found here: <a
          href="https://f-droid.org/en/packages/org.fdroid.fdroid.privileged.ota" rel="noopener" target="_blank">F-Droid
          App-Store</a>.
      </p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="can-i-use-gapps" class="title is-3">How can I use Google Apps for my device?</h3>
      <p>While we don't like Google apps, some people feel that they need them to leverage the full experience of
        their Android devices.
        We believe people should be free to do what they want with their devices. So installing them is supported as
        well.
      </p>
      <p>It is still recommended to use ROMs with built-in Google Apps like PixelExperience.</p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="somethings-wrong" class="title is-3">What to do if something goes wrong?</h3>
      <p class="title is-5">Sometimes things will hang with showing "waiting-for-device" in the "Advanced output" view
        or fail to send the recovery or image to the device correctly.
      </p>
      <p>
        What you can do in this case:
      </p>
      <ul>
        <li>Try a different USB-Cable</li>
        <li>Try a different USB-Port on your PC</li>
      </ul>
      <p class="title is-5">Sometimes the selected ROM image will not boot properly.
        Usually, in this case, the image is not suited for the specific device or is broken.
      </p>
      <p>
        What you can do in this case:
      </p>
      <ul>
        <li>Make sure your device is supported by the image up to the exact device id.
        <li>Try a different image for your device. This is especially useful for unofficial images of ROMs.</li>
      </ul>
      <p>Of course, there are other things that can go wrong. If none of the above helps, write an <a
          href="mailto:help@openandroidinstaller.org">e-mail</a> or raise an <a
          href="https://github.com/openandroidinstaller-dev/openandroidinstaller/issues/new/choose" target="_blank"
          rel="noopener">issue</a> on GitHub.
      </p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="unlock-bootloader" class="title is-3">Will this tool unlock my bootloader?</h3>
      <p>First of all, this tool will not help you bypass any vendor locked bootloaders in non-official ways.</p>
      <p>Devices by <em>Samsung, Google, OnePlus, Fairphone</em> and others make it relatively easy to unlock the
        bootloader and get good support in the installer.</p>
      <p>For some devices, it is necessary to unlock the bootloader manually. You usually need to create an account on
        the manufacturer&#39;s website, wait for a certain time and obtain a code from there. OpenAndroidInstaller will
        try to guide you as far as possible. These vendors include <em>Sony, Motorola and Xiaomi</em> amongst others.
      </p>
      <p>Other phone manufacturers no longer allow you to unlock the bootloader. Nothing can be done if you have not
        unlocked your device in time. These manufacturers include <em>Huawei, Honor, LG and ASUS</em>. Support for these
        manufacturers will always be very limited.</p>
      <p>
        <b>Here is a brief overview of the bootloader policies of some of the most popular brands (may be
          incomplete/inaccurate):</b>
      </p>
      <table>
        <thead>
          <tr>
            <th>Brand</th>
            <th>Flashing tool</th>
            <th>Unlocking Method</th>
            <th>Loss of guarantee*</th>
            <th>Supported models</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Google</td>
            <td>Fastboot</td>
            <td>OEM/Flashing unlock</td>
            <td>No</td>
            <td>Pixel and Nexus</td>
          </tr>
          <tr>
            <td>Samsung</td>
            <td>ODIN or Heimdall</td>
            <td>Download mode</td>
            <td><strong>Yes</strong></td>
            <td>Galaxy S and A series<br>(Increasing complexity <strong>on and after S10</strong>)</td>
          </tr>
          <tr>
            <td>OnePlus</td>
            <td>Fastboot</td>
            <td>OEM/Flashing unlock</td>
            <td>No</td>
            <td>All</td>
          </tr>
          <tr>
            <td>Fairphone</td>
            <td>Fastboot</td>
            <td><a href="https://support.fairphone.com/hc/en-us/articles/10492476238865-Manage-the-Bootloader">Code
                from manufacturer</a><br>(<strong>Already unlocked until FP2</strong>)</td>
            <td>No</td>
            <td>All</td>
          </tr>
          <tr>
            <td>Xiaomi</td>
            <td>Fastboot</td>
            <td><a href="https://new.c.mi.com/global/post/101245">Mi Unlock Tool</a></td>
            <td><strong>Yes</strong></td>
            <td>Mi 4c, Redmi Note 3, Mi Note Pro, Redmi 3, Mi 4S, Mi 5 and all devices from 2016 onwards</td>
          </tr>
          <tr>
            <td>Motorola</td>
            <td>Fastboot</td>
            <td><a href="https://en-us.support.motorola.com/app/standalone/bootloader/unlock-your-device-a">Code from
                manufacturer</a></td>
            <td><strong>Yes</strong></td>
            <td>Almost all <strong>except</strong> carrier specific models (e.g. Verizon, AT&amp;T, Tracfone) and
              certain other models</td>
          </tr>
          <tr>
            <td>Sony</td>
            <td>Fastboot</td>
            <td><a
                href="https://developer.sony.com/open-source/aosp-on-xperia-open-devices/get-started/unlock-bootloader">Code
                from manufacturer</a></td>
            <td><strong>Yes</strong></td>
            <td>All <strong>except</strong> XQ-CT62 (1Ⅳ US) &amp; XQ-CQ62 (5Ⅳ US)</td>
          </tr>
          <tr>
            <td>Huawei</td>
            <td>Fastboot</td>
            <td>No official codes since 2017/2018<br>(<strong>Unofficial methods available</strong>)</td>
            <td><strong>Yes</strong></td>
            <td>Mate 9/9Pro, P10/P10Plus</td>
          </tr>
          <tr>
            <td>Honor</td>
            <td>Fastboot</td>
            <td>No official codes since 2017/2018<br>(<strong>Unofficial methods available</strong>)</td>
            <td><strong>Yes</strong></td>
            <td>Honor 8</td>
          </tr>
          <tr>
            <td>LG</td>
            <td>Fastboot</td>
            <td>Impossible since December 2021</td>
            <td><strong>Yes</strong></td>
            <td></td>
          </tr>
          <tr>
            <td>ASUS</td>
            <td>Fastboot</td>
            <td>Impossible since May 2023 (ASUS unlocking App)</td>
            <td><strong>Yes</strong></td>
          </tr>
        </tbody>
      </table>
      <p><strong>*</strong> In the EU you won&#39;t loose your standard 2 years of the warranty when you unlock your
        bootloader, flash your device or root it. (<a
          href="https://xdaforums.com/t/info-eu-rooting-and-flashing-dont-void-the-warranty.1998801">source</a>)
      </p>
      <p>You can find more information about the brands and their bootloader policies <a
          href="https://wikilibriste.fr/fr/tutoriels-android/bootloader-unlock">here</a> (in French).</p>

    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="is-it-virus" class="title is-3">Virus scanners show the tool as a virus or trojan. What is going on?
      </h3>
      <p>In some virus scanners the OpenAndroidInstaller shows up as a virus or trojan. This is a false positive. We
        explain the issue here: <br>
        The code and build process of the distributed files is completely open source and can be found on GitHub. So
        people can verify that it's not malicious software.
      </p>
      <p>The Installer is bundled and compiled python code made into an executable file. This is done with <a
          href="https://pyinstaller.org" rel="noopener" target="_blank">pyinstaller</a>.
        As it turns out, false positive issues are known and people encounter them regularly.</p>
      <ul>
        <li><a
            href="https://stackoverflow.com/questions/43777106/program-made-with-pyinstaller-now-seen-as-a-trojan-horse-by-avg"
            rel="noopener"
            target="_blank">https://stackoverflow.com/questions/43777106/program-made-with-pyinstaller-now-seen-as-a-trojan-horse-by-avg</a>
        </li>
        <li><a href="https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/antivirus.md"
            rel="noopener"
            target="_blank">https://github.com/pyinstaller/pyinstaller/blob/develop/.github/ISSUE_TEMPLATE/antivirus.md</a>
        </li>
      </ul>
      <p>As far as we know, there is no real solution to this issue.</p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="fastboot-hangs" class="title is-3">When flashing the custom recovery, the applications hangs and the
        advanced output shows "waiting-for-device". What can I do?</h3>
      <p> It seems like sometimes fastboot (the tool used for flashing the recovery) doesn't work properly. A possible
        solution weirdly can be to try a different USB-cable and/or different USB-Ports.</p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="find-logs" class="title is-3">Where do I find the logfiles?</h3>
      <p>For the Flatpak, the logs are located in
        <code>~/.var/app/org.openandroidinstaller.OpenAndroidInstaller/data/openandroidinstaller.log</code>.
      </p>
      <p>If you are running the executable directly, the logs are located in the same directory as the executable.</p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="dll-missing" class="title is-3">I get the error message "msvcp110.dll missing" on Windows.</h3>
      <p>This error (and similar dll issues) are usually resolved by installing <a
          href="https://www.microsoft.com/de-DE/download/details.aspx?id=30679" target="_blank">Visual C++
          Redistributable für Visual Studio 2012</a>. Make sure to also install the 32-bit version, named
        <code>VSU4\vcredist_x86.exe</code>, since heimdall runs on 32 bit. (To be sure, reboot the PC before trying the
        Installer again.).
      </p>
    </div>
    <div class="notification has-background-white-bis p-6 content">
      <h3 id="data-collection" class="title is-3">Collection of anonymous usage data</h3>
      <p>The OpenAndroidInstaller application collects anonymous usage data to help us improve the application. This
        data is collected using <a href="https://plausible.io" target="_blank">Plausible Analytics</a> and is stored on
        their servers. For convenience: these are Plausible's <a href="https://plausible.io/data-policy" target="_blank">Data Policy</a> & <a href="https://plausible.io/privacy" target="_blank">Privacy Policy</a>. 
        We <em>do not collect any personal data</em>, and we <em>do not track individual users</em>. We only collect the
        device code when the
        installation process is started and finished to see which devices are most commonly used with the application.
        The code is available in the function <a
          href="https://github.com/openandroidinstaller-dev/openandroidinstaller/blob/55eba7f585128a1b73be6695a6d663a2686bf793/openandroidinstaller/utils.py#L193"
          target="_blank">`send_tracking_info` in the `openandroidinstaller/utils.py`</a> file.
      </p>
    </div>
    <!-- Content End -->
  </div>
</section>
<!-- FAQ End -->

<!-- Contribution Banner -->
<section class="section has-background-primary">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-5-desktop mb-4">
        <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Still having questions?
        </h2>
      </div>
      <div class="column is-5 ml-auto">
        <div class="mx-auto box p-6 has-background-light has-text-centered">
          <a class="button is-link is-fullwidth hover-transition" id="contribute-button"
            href="mailto:help@openandroidinstaller.org">Write an e-mail</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contribution Banner End -->
{% endblock %}
