{% extends "base.html" %}
{% block title %}Feedback | OpenAndroidInstaller{% endblock %}
{% block robot %}
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
{% endblock %}
{% block content %}
<!-- Main -->
<!-- Header -->
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">OpenAndroidInstaller | Feedback</h1>
      <h2 class="subtitle">Give feedback to the project and how it worked for you. At this point, all kind of
        feedback helps. Thank you!</h2>
    </div>
  </div>
</section>
<!-- Header End -->

<!-- Features -->
<section class="section">
  <div class="container">
    <div class="column is-half is-offset-one-quarter">
      <form method="post" action="https://airform.io/feedback@openandroidinstaller.org">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <div class="control has-icons-left has-icons-right">
              <input class="input" name="name" type="text" placeholder="Your Name">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" name="email" type="email" placeholder="Your Email if you want an answer" value="">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Feedback</label>
            <div class="control">
              <textarea class="textarea" placeholder="Write your feedback here." name="message"></textarea>
            </div>
          </div>

          <div class="field">
            <p>Your feedback is processed in encrypted form by <a href="https://airform.io" rel="noopener"
                target="_blank">airform.io</a> and if you provide an email address you might get an answer.</p>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</section>
<!-- Features End -->

<!-- Contribution Banner -->
<section class="section has-background-primary">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-5-desktop mb-4">
        <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">All kinds of
          contributions are welcome!</h2>
        <div class="content has-text-white">
          <ul>
            <li>Fix and improve texts in configs and in the application.</li>
            <li>Test the tool for a supported device.</li>
            <li>Create a config for a new device.</li>
            <li>Test the application on your computer.</li>
            <li>Contribute an application build for a new platform.</li>
          </ul>
        </div>
      </div>
      <div class="column is-5 ml-auto">
        <div class="mx-auto box p-6 has-background-light has-text-centered">
          <a class="button is-link is-fullwidth" id="contribute-button"
            href="https://openandroidinstaller.org/#contribute">How to contribute?</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contribution Banner End -->
{% endblock %}