{% extends "base.html" %}
{% block title %}Impressum | OpenAndroidInstaller{% endblock %}
{% block robot %}
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
{% endblock %}
{% block content %}
<!-- Header -->
<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">Impressum</h1>
      <p class="subtitle is-4">The following contact and privacy notes for OpenAndroidInstaller reflect the information
        required under German law.</p>
    </div>
  </div>
</section>
<!-- Header End -->

<!-- Imprint -->
<section class="section">
  <div class="container is-max-desktop">
    <!-- Content -->
    <div class="content">
      <h3>Contact</h3>
      <p>OpenAndroidInstaller.org is operated by (Impressum nach § 5 TMG, ebenso verantwortlich für den Inhalt nach § 55
        Abs. 2
        RStV):<br></p>
      <pre>OpenAndroidInstaller
c/o Cultivation Space
Aufgang 4
Gottschedstraße 4
13357 Berlin</pre>
      <h2>Disclaimer</h2>
      <h3>Liability for contents</h3>
      <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the accuracy,
        completeness and timeliness of the content. As a service provider, we are responsible for our own content on
        these pages in accordance with § 7 Para. 1 of the German Telemedia Act (TMG). According to §§ 8 to 10 TMG,
        however, we are not obligated as a service provider to monitor transmitted or stored third-party information or
        to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of
        information under the general laws remain unaffected. However, liability in this regard is only possible from
        the point in time at which a concrete infringement of the law becomes known. If we become aware of any such
        infringements, we will remove the relevant content immediately.</p>
      <h3>Liability for links</h3>
      <p>Our offer contains links to external websites of third parties, on whose contents we have no influence.
        Therefore, we cannot assume any liability for these external contents. The respective provider or operator of
        the pages is always responsible for the content of the linked pages. The linked pages were checked for possible
        legal violations at the time of linking. Illegal contents were not recognizable at the time of linking. However,
        a permanent control of the contents of the linked pages is not reasonable without concrete evidence of a
        violation of the law. If we become aware of any infringements, we will remove such links immediately.</p>
      <h3>Copyright</h3>
      <p>The contents and works created by the site operators on these pages are subject to German copyright law.
        Duplication, processing, distribution, or any form of commercialization of such material beyond the scope of the
        copyright law shall require the prior written consent of its respective author or creator. Downloads and copies
        of this site are only permitted for private, non-commercial use. Insofar as the content on this site was not
        created by the operator, the copyrights of third parties are respected. In particular, third-party content is
        identified as such. Should you nevertheless become aware of a copyright infringement, please inform us
        accordingly. If we become aware of any infringements, we will remove such content immediately.</p>
      <h3>Data protection</h3>
      <p>Our data protection regulations can be <a href="privacy.html">found here</a>.
      </p>
    </div>
    <!-- Content End -->
  </div>
</section>
<!-- Imprint End -->

<!-- Contribution Banner -->
<section class="section has-background-primary">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-5-desktop mb-4">
        <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Still having questions?
        </h2>
      </div>
      <div class="column is-5 ml-auto">
        <div class="mx-auto box p-6 has-background-light has-text-centered">
          <a class="button is-link is-fullwidth hover-transition" id="contribute-button"
            href="mailto:help@openandroidinstaller.org">Write an e-mail</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contribution Banner End -->
{% endblock %}