{% extends "base.html" %}
{% block title %}Datenschutzerklärung | OpenAndroidInstaller{% endblock %}
{% block robot %}
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noindex,nofollow">
{% endblock %}
{% block content %}
<!-- Header -->
<section class="hero is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="is-size-1 is-size-3-mobile has-text-weight-bold">Datenschutzerklärung</h1>
    </div>
  </div>
</section>
<!-- Header End -->

<!-- FAQ -->
<section class="section">
  <div class="container is-max-desktop">
    <!-- Content -->
    <div class="content">

      <h3><b>Einleitung</b></h3>
      <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen
        Daten (nachfolgend auch kurz als „Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten.
        Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im
        Rahmen der Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen
        sowie innerhalb externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend
        bezeichnet als „Onlineangebot“).</p>
      <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
      <p>Stand: 3. Februar 2023</p>
      <h3><b>Inhaltsübersicht</b></h3>
      <ul>
        <li aria-level="1">Einleitung</li>
        <li aria-level="1">Übersicht der Verarbeitungen</li>
        <li aria-level="1">Maßgebliche Rechtsgrundlagen</li>
        <li aria-level="1">Sicherheitsmaßnahmen</li>
        <li aria-level="1">Bereitstellung des Onlineangebotes und Webhosting</li>
        <li aria-level="1">Änderung und Aktualisierung der Datenschutzerklärung</li>
        <li aria-level="1">Begriffsdefinitionen</li>
      </ul>
      <h4>Arten der verarbeiteten Daten</h4>
      <ul>
        <li aria-level="1">Nutzungsdaten.</li>
        <li aria-level="1">Meta-/Kommunikationsdaten.</li>
      </ul>
      <h4><b>Kategorien betroffener Personen</b></h4>
      <ul>
        <li aria-level="1">Nutzer.</li>
      </ul>
      <h4><b>Zwecke der Verarbeitung</b></h4>
      <ul>
        <li aria-level="1">Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
        <li aria-level="1">Informationstechnische Infrastruktur.</li>
      </ul>
      <h4><b>Maßgebliche Rechtsgrundlagen</b></h4>
      <p>Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene
        Daten verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale
        Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im Einzelfall
        speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.</p>
      <ul>
        <li aria-level="1"><b>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</b> – Die Verarbeitung ist zur
          Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die
          Interessen oder Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
          erfordern, überwiegen.</li>
      </ul>
      <p>Zusätzlich zu den Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale Regelungen zum
        Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener
        Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält insbesondere
        Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung
        besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie
        automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Des Weiteren regelt es die
        Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses (§ 26 BDSG), insbesondere im Hinblick auf die
        Begründung, Durchführung oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung von
        Beschäftigten. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.</p>
      <h3><b>Sicherheitsmaßnahmen</b></h3>
      <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
        Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
        unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
        natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
        Schutzniveau zu gewährleisten.</p>
      <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten
        durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs,
        der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir
        Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf
        die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits
        bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des
        Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
      <p>Kürzung der IP-Adresse: Sofern IP-Adressen von uns oder von den eingesetzten Dienstleistern und Technologien
        verarbeitet werden und die Verarbeitung einer vollständigen IP-Adresse nicht erforderlich ist, wird die
        IP-Adresse gekürzt (auch als „IP-Masking“ bezeichnet). Hierbei werden die letzten beiden Ziffern, bzw. der
        letzte Teil der IP-Adresse nach einem Punkt entfernt, bzw. durch Platzhalter ersetzt. Mit der Kürzung der
        IP-Adresse soll die Identifizierung einer Person anhand ihrer IP-Adresse verhindert oder wesentlich erschwert
        werden.</p>
      <p>TLS-Verschlüsselung (https): Um Ihre via unserem Online-Angebot übermittelten Daten zu schützen, nutzen wir
        eine TLS-Verschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix https:// in der
        Adresszeile Ihres Browsers.</p>
      <h3><b>Bereitstellung des Onlineangebotes und Webhosting</b></h3>
      <p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können. Zu diesem
        Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer
        Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
      <ul>
        <li aria-level="1"><b>Verarbeitete Datenarten:</b> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an
          Inhalten, Zugriffszeiten); Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
        <li aria-level="1"><b>Betroffene Personen:</b> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
        <li aria-level="1"><b>Zwecke der Verarbeitung:</b> Bereitstellung unseres Onlineangebotes und
          Nutzerfreundlichkeit; Informationstechnische Infrastruktur (Betrieb und Bereitstellung von
          Informationssystemen und technischen Geräten (Computer, Server etc.).).</li>
        <li aria-level="1"><b>Rechtsgrundlagen:</b> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
      </ul>
      <p><b>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</b></p>
      <ul>
        <li aria-level="1"><b>Bereitstellung Onlineangebot auf gemietetem Speicherplatz: </b>Für die Bereitstellung
          unseres Onlineangebotes nutzen wir Speicherplatz, Rechenkapazität und Software, die wir von einem
          entsprechenden Serveranbieter (auch „Webhoster“ genannt) mieten oder anderweitig beziehen;
          <b>Rechtsgrundlagen:</b> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
        </li>
      </ul>
      <h3><b>Änderung und Aktualisierung der Datenschutzerklärung</b></h3>
      <p>Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die
        Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich
        machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung)
        oder eine sonstige individuelle Benachrichtigung erforderlich wird.</p>
      <p>Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen
        angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben vor
        Kontaktaufnahme zu prüfen.</p>
      <h3><b>Begriffsdefinitionen</b></h3>
      <p>In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten
        Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die
        gesetzlichen Definitionen sind verbindlich. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem
        Verständnis dienen. Die Begriffe sind alphabetisch sortiert.</p>
      <ul>
        <li aria-level="1"><b>Personenbezogene Daten:</b> „Personenbezogene Daten“ sind alle Informationen, die sich auf
          eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als
          identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels
          Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung
          (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der
          physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität
          dieser natürlichen Person sind.</li>
        <li aria-level="1"><b>Verantwortlicher:</b> Als „Verantwortlicher“ wird die natürliche oder juristische Person,
          Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der
          Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.</li>
        <li><b>Verarbeitung:</b> „Verarbeitung“ ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte
          Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit
          und umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das
          Übermitteln oder das Löschen.</li>
      </ul>
    </div>
    <!-- Content End -->
  </div>
</section>

<!-- Contribution Banner -->
<section class="section has-background-primary">
  <div class="container">
    <div class="is-vcentered columns is-multiline">
      <div class="column is-6 is-5-desktop mb-4">
        <h2 class="has-text-white mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Still having questions?
        </h2>
      </div>
      <div class="column is-5 ml-auto">
        <div class="mx-auto box p-6 has-background-light has-text-centered">
          <a class="button is-link is-fullwidth hover-transition" id="contribute-button"
            href="mailto:hello@openandroidinstaller.org">Write an e-mail</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contribution Banner End -->
{% endblock %}